{% extends 'base_home.html' %}

{% block head %}
<title>dashboard | studentxyz</title>
{% endblock %}

{% block body %}
<script>
    const specializare = '{{ specializare }}';
    const note = {{ note|tojson|safe }};
</script>
<script src="{{ url_for('static', filename='java_script/script_dashboard.js') }}"></script>
<nav class="nav nav_closed">
    <div class="nav_expand">
        <img class="invert" src="{{url_for('static', filename='css/expand.svg')}}" width="40" height="40"></img>
    </div>
    <ul class="nav_list">
        <img class="nav_logo glow" src="{{url_for('static', filename='css/studentxyz.svg')}}" width="400" height="100"></img>
        <li class="nav_listitem"><a href="{{ url_for('user') }}">
            <img class="invert" src="{{url_for('static', filename='css/user.svg')}}" width="40" height="40"></img>
            <p>profil personal</p>
        </a></li>
        <li class="nav_listitem nav_listitem-active"><a href="{{ url_for('dashboard') }}">
            <img class="invert" src="{{url_for('static', filename='css/dashboard.svg')}}" width="40" height="40"></img>
            <p>dashboard</p>
        </a></li>
        <li class="nav_listitem"><a href="{{ url_for('analytics') }}">
            <img class="invert" src="{{url_for('static', filename='css/analytics.svg')}}" width="40" height="40"></img>
            <p>analytics</p>
        </a></li>
        <li class="nav_listitem"><a href="{{ url_for('settings') }}">
            <img class="invert" src="{{url_for('static', filename='css/settings.svg')}}" width="40" height="40"></img>
            <p>setări</p>
        </a></li>
        <li class="nav_listitem nav_logoutitem">
            <a href="{{ url_for('logout') }}">
                <img class="invert" src="{{url_for('static', filename='css/logout.svg')}}" width="40" height="40"></img>
                <p>log-out</p>
            </a>
        </li>
    </ul>
</nav>
<div class="dashboard_wrapper">
<div class="dashboard_content">
    <div class="dashboard_headers">
        <h1 class="glow">anul</h1>
        <h1 contenteditable="true" class="an glow">1</h1>
        <h1 class="glow">:</h1>
        <h1 class="glow">semestrul</h1>
        <h1 contenteditable="true" class="semestru glow">1</h1>
        <h1 class="glow"> - {{ specializare }}</h1>
    </div>
    <table class="dashboard_table">
        <thead>
            <tr>
                <th style="color: white;">materie</th>
                <th style="color: white;">notă examen</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="2" style="text-align:center;">nu există date pentru acest an/semestru</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="dashboard_button_wrapper">
    <button class="ml_button">⇄</button>
</div>
<div class="dashboard_content">
    <div class="dashboard_headers">
        <h1 class="glow">anul</h1>
        <h1 class="an glow">1</h1>
        <h1 class="glow">:</h1>
        <h1 class="glow">semestrul</h1>
        <h1 class="semestru glow">2</h1>
        <h1 class="glow"> - {{ specializare }}</h1>
    </div>
    <table class="dashboard_table">
        <thead>
            <tr>
                <th style="color: white;">materie</th>
                <th style="color: white;">notă examen</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="2" style="text-align:center;">nu există date pentru acest an/semestru</td>
            </tr>
        </tbody>
    </table>
</div>
</div>
{% endblock %}