{% extends 'base_home.html' %}

{% block head %}
<title>dashboard | studentxyz</title>
{% endblock %}

{% block body %}
<nav class="nav nav_closed">
    <div class="nav_expand">
        <img class="invert" src="{{url_for('static', filename='css/expand.svg')}}" width="40" height="40"></img>
    </div>
    <ul class="nav_list">
        <img class="nav_logo glow" src="{{url_for('static', filename='css/studentxyz.svg')}}" width="400" height="100"></img>
        <li class="nav_listitem"><a href="{{ url_for('user') }}">
            <img class="invert" src="{{url_for('static', filename='css/user.svg')}}" width="40" height="40"></img>
            <p>profil personal</p>
        </a></li>
        <li class="nav_listitem nav_listitem-active"><a href="{{ url_for('dashboard') }}">
            <img class="invert" src="{{url_for('static', filename='css/dashboard.svg')}}" width="40" height="40"></img>
            <p>dashboard</p>
        </a></li>
        <li class="nav_listitem"><a href="{{ url_for('analytics') }}">
            <img class="invert" src="{{url_for('static', filename='css/analytics.svg')}}" width="40" height="40"></img>
            <p>analytics</p>
        </a></li>
        <li class="nav_listitem"><a href="{{ url_for('settings') }}">
            <img class="invert" src="{{url_for('static', filename='css/settings.svg')}}" width="40" height="40"></img>
            <p>setări</p>
        </a></li>
        <li class="nav_listitem nav_logoutitem">
            <a href="{{ url_for('login') }}">
                <img class="invert" src="{{url_for('static', filename='css/logout.svg')}}" width="40" height="40"></img>
                <p>log-out</p>
            </a>
        </li>
    </ul>
</nav>
<div class="dashboard_wrapper">
<div class="dashboard_content">
    <div class="dashboard_headers">
        <h1>anul</h1>
        <h1 contenteditable="true" class="an">1</h1>
        <h1>:</h1>
        <h1>semestrul</h1>
        <h1 contenteditable="true" class="semestru">1</h1>
        <h1> - cibernetică economică</h1>
    </div>
    <table class="dashboard_table">
        <thead>
            <tr>
                <th style="color: white;">materie</th>
                <th style="color: white;">notă examen</th>
            </tr>
        </thead>
        <tbody>
            <tr><td>economie</td><td contenteditable="true" class="nota"></td></tr>
            <tr><td>algebră</td><td contenteditable="true" class="nota"></td></tr>
            <tr><td>bazele statisticii</td><td contenteditable="true" class="nota"></td></tr>
            <tr><td>bazele cercetărilor operaționale</td><td contenteditable="true" class="nota"></td></tr>
            <tr><td>bazele tehnologiei informației</td><td contenteditable="true" class="nota"></td></tr>
            <tr><td>bazele programării calculatoarelor</td><td contenteditable="true" class="nota"></td></tr>
            <tr><td>limba engleză și comunicare de specialitate 1</td><td contenteditable="true" class="nota"></td></tr>
            <tr><td>educație fizică și sport</td><td contenteditable="true" class="nota"></td></tr>
        </tbody>
    </table>
</div>
<div class="dashboard_button_wrapper">
    <button class="ml_button">⇄</button>
</div>
<div class="dashboard_content">
    <div class="dashboard_headers">
        <h1>anul</h1>
        <h1 class="an">1</h1>
        <h1>:</h1>
        <h1>semestrul</h1>
        <h1 class="semestru">1</h1>
        <h1> - cibernetică economică</h1>
    </div>
    <table class="dashboard_table">
        <thead>
            <tr>
                <th style="color: white;">materie</th>
                <th style="color: white;">notă examen</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
</div>
{% endblock %}