{% extends 'base_login.html' %}

{% block head %}
{% endblock %}

{% block body %}
<section class="container">
    <img style="display: block; margin: 0 auto;" class="glow logo" src="{{url_for('static', filename='css/studentxyz.svg')}}" width="350" height="63">
    <form id="formularemail" class="info" method="POST" action="{{ url_for('reset') }}">
        <div class="input-section">
            <input id="email" name="email" type="email" placeholder="nume@stud.ase.ro" required class="input">
        </div>
        <p class="subtext_reset">vei primi un e-mail cu noua parolă!</p>
        <div class="button-section">
            <button type="submit" class="reset">schimbă parola</button>
        </div>
    </form>
    <p class="subtext">&copy; 2025 marelegsaa - all rights reserved.</p>
</section>
{% endblock %}