<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>log-in | studentxyz</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/style_login.css')}}">
        <link rel="icon" href="{{url_for('static', filename='css/icon.png')}}"/>
        <script>
            window.onpageshow = function(event) {
                if (event.persisted) {
                    window.location.reload();
                }
            };
        </script>
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
        <meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="Expires" content="0">
        {% block head %}
        {% endblock %}
    </head>
    <script src="{{ url_for('static', filename='java_script/script_login.js') }}"></script>
    <body>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-messages">
                    {% for category, message in messages %}
                        <div class="flash-{{ category }}">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        {% block body %}
        {% endblock %}
    </body>
</html>