<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-JV89DVWW8G"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-JV89DVWW8G');
        </script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for('static', filename='css/style_home.css')}}">
        <link rel="icon" href="{{url_for('static', filename='css/icon.png')}}"/>
        {% block head %}
        {% endblock %}
    </head>
    <script src="{{ url_for('static', filename='java_script/script_home.js') }}"></script>
    <body>
        {% block body %}
        {% endblock %}
    </body>
</html>