<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>homepage | studentxyz</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/style_home.css')}}">
        <link rel="icon" href="{{url_for('static', filename='css/icon.png')}}"/>
        {% block head %}
        {% endblock %}
    </head>
    <script src="{{ url_for('static', filename='java_script/script_home.js') }}"></script>
    <body>
        {% block body %}
        {% endblock %}
    </body>
</html>