{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<div>
    <section class="container">
        <h1 class="titlu glow">studentxyz</h1>
                <form id="formularemail" class="info" action="#">
                    <div class="input-section">
                    <input id="email" type="email" placeholder="nume@stud.ase.ro" required class="input">
                    </div>
                    <p style="text-align: center; color: white;">vei primi un e-mail cu noua parolă!</p>
                    <div class="button-section">
                        <button class="reset">schimbă parola</button>
                    </div>
                </form>
        <p style="text-align: center; color: white; margin-top: 50px;">&copy; 2025 marelegsaa - all rights reserved.</p>
    </section>
</div>
{% endblock %}